
img.thumbnail-image{
  border-radius: 1px;
}

img.rounded-corners{
  border-radius: 2px;
}

.ImgContainer{
    position: relative;
}
.photo-container{
    float: left;
    position: relative;
    overflow: hidden;
}
.image-thumb{
    position: relative;
    background-color: #eee;
}

body {
 margin: 0px;
 padding: 10px;
 background-color: #FFFFFF;
}
p {
 font-family: Georgia, "Times New Roman", Times, serif;
 font-size: 14px;
 color: #555555;
}
ul {
 list-style: square;
 font-family: Georgia, "Times New Roman", Times, serif;
 font-size: 14px;
 color: #FF0000;
}
h1 {
 font-family: Arial, Helvetica, sans-serif;
 font-size: 32px;
 font-weight: bold;
 color: #F0F0F0;
}
h2 {
 font-family: Arial, Helvetica, sans-serif;
 font-size: 24px;
 font-weight: bold;
 color: #FF0000;
}
h3 {
 font-family: Arial, Helvetica, sans-serif;
 font-size: 20px;
 font-weight: bold;
 color: #FF0000;
}
h4 {
 font-family: Arial, Helvetica, sans-serif;
 font-size: 18px;
 font-weight: bold;
 color: #FF0000;
}
h1, h2, h3, h4{
 a{
    font-weight: normal;
    text-decoration: none;
    color: #FF0000;
    &:hover{
     font-weight: normal;
     text-decoration: underline;
     color: #FF0000;
     background: #C0C0C0;
  }
 }
}  
a:link {
 font-weight: normal;
 text-decoration: none;
 color: #FF0000;
 }
a:visited {
 font-weight: normal;
 text-decoration: none;
 color: #C0C0C0;
 }
a:hover {
 font-weight: normal;
 text-decoration: underline;
 color: #FF0000;
 background: #C0C0C0;
 }
a:active {
 font-weight: normal;
 text-decoration: none;
 color: #FF0000;
 background: #000000;
 }
